<!DOCTYPE html>
<html>
<head>   
<title>Image search abstraction Layer</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">

</head>
<body>
 <h1>Image search abstraction layer</h1>
<blockquote>
  <h3>User stories:</h3>
  <ol>
    <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
    <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
    <li>I can get a list of the most recently submitted search strings.</li>
  </ol>
  </blockquote>
<h2>Example usage:</h2>
  <code>https://imagesearch-chuya.glitch.me/api/imagesearch/cutecat?offset=2</code><br><br>
  <code>https://imagesearch-chuya.glitch.me/api/latest/imagesearch</code>
<h2>Example output:</h2>
  <code>[{"url":"https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg","snippet":"Funny Cats Compilation [Most See] Funny Cat Videos Ever Part 1 ...","thumbnail":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMnDp0nNBLHwunbh2DDIBhN_Cj9zwRPq-Hp0sB-LlSWy2ijcFs-uyD-vE","context":"https://www.youtube.com/watch?v=tntOCGkgt98"},{"url":"http://funnycatvideos.net/extras/logo/funny-cat-videos-wide.jpg","snippet":"Funny Cat Videos | Funny Cats","thumbnail":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTj_inkB5uZeweWB7jpj3Zp0FGfxq_UmP_0ajk0pRx_9YjGz-FqV0I5htI","context":"http://funnycatvideos.net/"},...]</code><br><br>
  <code>[{"term":"cat","when":"Tue Oct 10 2017 17:27:05 GMT+0000 (UTC)"},...]</code>
</body>
</html>